<%- layout('layouts/main') %>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/moods">Mood Entries</a>
        <a href="/moods/add">Add Entry</a>

        <% if (user) { %>
            <span style="float:right;">Hello, <%= user.username %>!</span>
        <% } %>
    </nav>
</header>
