<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title || "Mood Journal" %></title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <h1>Mood Journal 💖</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/moods">Entries</a>
        <a href="/moods/add">Add Entry</a>
    </nav>
</header>

<div class="content">
    <!-- This is where each EJS page is inserted -->
    <%- body %>
</div>

<footer>
    <p>&copy; 2025 Mood Journal</p>
</footer>

</body>
</html>
