<%- layout('layouts/main') %>

<div class="card">
    <h1>Your Dashboard</h1>

    <p>Welcome back, <%= user.username %>!</p>

    <p><a class="btn" href="/moods/add">Add New Mood Entry</a></p>
    <p><a class="btn" href="/moods">View Mood History</a></p>
</div>
