<h2>Add New Mood Entry</h2>

<form action="/moods/add" method="POST" class="card">

    <label>Select Mood:</label>
    <select name="mood" required>
        <option value="confused">Confused</option>
        <option value="happy">Happy</option>
        <option value="stressed">Stressed</option>
        <option value="angry">Angry</option>
        <option value="sad">Sad</option>
    </select>

    <label>Journal Text:</label>
    <textarea name="journalText" required></textarea>

    <button type="submit" class="add-entry">Save Entry</button>
</form>
